In [1]:
import pandas as pd
import numpy
from matplotlib import pyplot as plt
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set()

In [2]:
data_df = pd.read_csv('stat.csv')
data_df.head()

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise,perdu
0,11/20/2020 09:25:46,Soso,1,10,15,1,10,5,False
1,11/20/2020 09:25:46,Soso,2,10,10,6,0,5,True
2,11/20/2020 09:25:46,Soso,1,10,10,2,5,5,False
3,11/20/2020 09:25:46,Soso,2,10,15,1,10,5,False
4,11/20/2020 09:25:46,Soso,3,10,10,8,0,5,True

In [3]:
print(data_df.columns)

Index(['date', 'nom', 'niveau', 'solde_depart', 'solde_fin', 'nb_coup', 'gain',
       'mise', 'perdu'],
      dtype='object')

In [4]:
data_df.describe()

         niveau  solde_depart  solde_fin   nb_coup       gain  mise
count  7.000000           7.0   7.000000  7.000000   7.000000   7.0
mean   2.000000          10.0  13.571429  2.857143   6.428571   5.0
std    0.816497           0.0   3.779645  2.911390   4.755949   0.0
min    1.000000          10.0  10.000000  1.000000   0.000000   5.0
25%    1.500000          10.0  10.000000  1.000000   2.500000   5.0
50%    2.000000          10.0  15.000000  1.000000  10.000000   5.0
75%    2.500000          10.0  15.000000  4.000000  10.000000   5.0
max    3.000000          10.0  20.000000  8.000000  10.000000   5.0

In [5]:
data_df[data_df.nom == '10']

Empty DataFrame
Columns: [date, nom, niveau, solde_depart, solde_fin, nb_coup, gain, mise, perdu]
Index: []

In [6]:
soso_df = data_df[data_df.nom == '10']

In [7]:
soso_df

Empty DataFrame
Columns: [date, nom, niveau, solde_depart, solde_fin, nb_coup, gain, mise, perdu]
Index: []

In [8]:
data_df["nom"].unique()

array(['Soso'], dtype=object)

In [9]:
data_df['niveau'].value_counts(normalize=True)

2    0.428571
3    0.285714
1    0.285714
Name: niveau, dtype: float64

In [10]:
data_df[data_df['niveau'] == 1]['gain'].mean

<bound method Series.mean of 0    10
2     5
Name: gain, dtype: int64>

In [11]:
data_df[data_df['niveau'] == 2]['gain'].max()

10

In [12]:
perdu = data_df['perdu'].astype('int64')

In [13]:
perdu.describe()

count    7.000000
mean     0.285714
std      0.487950
min      0.000000
25%      0.000000
50%      0.000000
75%      0.500000
max      1.000000
Name: perdu, dtype: float64

In [14]:
perdu.value_counts()

0    5
1    2
Name: perdu, dtype: int64