In [1]:
import pandas as pd
import numpy
from matplotlib import pyplot as plt
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set()

In [2]:
data_df = pd.read_csv('stat.csv')
data_df.head()

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise
0,11/19/2020 21:10:16,Soso,1,10,15,1,10,5
1,11/19/2020 21:11:19,10,1,10,20,1,20,10
2,11/19/2020 21:11:19,10,2,10,10,6,0,10
3,11/19/2020 21:11:19,10,1,10,20,1,20,10
4,11/19/2020 21:11:19,10,2,10,30,1,20,10

In [3]:
print(data_df.columns)

Index(['date', 'nom', 'niveau', 'solde_depart', 'solde_fin', 'nb_coup', 'gain',
       'mise'],
      dtype='object')

In [4]:
data_df.describe()

          niveau  solde_depart  solde_fin    nb_coup       gain       mise
count  15.000000          15.0  15.000000  15.000000  15.000000  15.000000
mean    1.733333          10.0  15.133333   2.133333   7.733333   6.266667
std     0.798809           0.0   6.885457   2.166850   8.241590   4.233652
min     1.000000          10.0   0.000000   1.000000   0.000000   1.000000
25%     1.000000          10.0  11.500000   1.000000   2.000000   2.000000
50%     2.000000          10.0  14.000000   1.000000   4.000000  10.000000
75%     2.000000          10.0  20.000000   2.000000  15.000000  10.000000
max     3.000000          10.0  30.000000   8.000000  20.000000  10.000000

In [5]:
data_df[data_df.nom == '10']

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise
1,11/19/2020 21:11:19,10,1,10,20,1,20,10
2,11/19/2020 21:11:19,10,2,10,10,6,0,10
3,11/19/2020 21:11:19,10,1,10,20,1,20,10
4,11/19/2020 21:11:19,10,2,10,30,1,20,10
5,11/19/2020 21:11:19,10,3,10,20,8,0,10

In [6]:
soso_df = data_df[data_df.nom == '10']

In [7]:
soso_df

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise
1,11/19/2020 21:11:19,10,1,10,20,1,20,10
2,11/19/2020 21:11:19,10,2,10,10,6,0,10
3,11/19/2020 21:11:19,10,1,10,20,1,20,10
4,11/19/2020 21:11:19,10,2,10,30,1,20,10
5,11/19/2020 21:11:19,10,3,10,20,8,0,10

In [8]:
data_df["nom"].unique()

array(['Soso', '10', 'soso', 'ali', '2'], dtype=object)

In [9]:
data_df['niveau'].value_counts(normalize=True)

1    0.466667
2    0.333333
3    0.200000
Name: niveau, dtype: float64

In [10]:
data_df[data_df['niveau'] == 1]['gain'].m

10.571428571428571

In [12]:
data_df[data_df['niveau'] == 2]['gain'].max()

20