In [1]:
import pandas as pd
import numpy
from matplotlib import pyplot as plt
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set()

In [2]:
data_df = pd.read_csv('stat.csv')
data_df.head()

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise,perdu
0,11/20/2020 09:25:46,Soso,1,10,15,1,10,5,False
1,11/20/2020 09:25:46,Soso,2,10,10,6,0,5,True
2,11/20/2020 09:25:46,Soso,1,10,10,2,5,5,False
3,11/20/2020 09:25:46,Soso,2,10,15,1,10,5,False
4,11/20/2020 09:25:46,Soso,3,10,10,8,0,5,True

In [3]:
print(data_df.columns)

Index(['date', 'nom', 'niveau', 'solde_depart', 'solde_fin', 'nb_coup', 'gain',
       'mise', 'perdu'],
      dtype='object')

In [4]:
data_df.describe()

          niveau  solde_depart  solde_fin    nb_coup       gain       mise
count  24.000000          24.0  24.000000  24.000000  24.000000  24.000000
mean    1.916667          10.0  12.583333   2.708333   7.541667   6.250000
std     0.775532           0.0   5.157659   2.628922   7.454087   3.467238
min     1.000000          10.0   5.000000   1.000000   0.000000   1.000000
25%     1.000000          10.0  10.000000   1.000000   1.500000   3.000000
50%     2.000000          10.0  10.500000   1.000000   5.500000   5.000000
75%     2.250000          10.0  16.250000   3.750000  10.000000  10.000000
max     3.000000          10.0  20.000000   8.000000  20.000000  10.000000

In [5]:
data_df[data_df.nom == 'Soso']

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise,perdu
0,11/20/2020 09:25:46,Soso,1,10,15,1,10,5,False
1,11/20/2020 09:25:46,Soso,2,10,10,6,0,5,True
2,11/20/2020 09:25:46,Soso,1,10,10,2,5,5,False
3,11/20/2020 09:25:46,Soso,2,10,15,1,10,5,False
4,11/20/2020 09:25:46,Soso,3,10,10,8,0,5,True
5,11/20/2020 09:25:46,Soso,2,10,15,1,10,5,False
6,11/20/2020 09:25:46,Soso,3,10,20,1,10,5,False

In [6]:
soso_df = data_df[data_df.nom == 'Soso']

In [7]:
soso_df

,date,nom,niveau,solde_depart,solde_fin,nb_coup,gain,mise,perdu
0,11/20/2020 09:25:46,Soso,1,10,15,1,10,5,False
1,11/20/2020 09:25:46,Soso,2,10,10,6,0,5,True
2,11/20/2020 09:25:46,Soso,1,10,10,2,5,5,False
3,11/20/2020 09:25:46,Soso,2,10,15,1,10,5,False
4,11/20/2020 09:25:46,Soso,3,10,10,8,0,5,True
5,11/20/2020 09:25:46,Soso,2,10,15,1,10,5,False
6,11/20/2020 09:25:46,Soso,3,10,20,1,10,5,False

In [8]:
data_df["nom"].unique()

array(['Soso', 'yoyo', 'ali', 'aimen'], dtype=object)

In [9]:
data_df['niveau'].value_counts(normalize=True)

2    0.416667
1    0.333333
3    0.250000
Name: niveau, dtype: float64

In [10]:
data_df[data_df['niveau'] == 1]['gain'].mean

<bound method Series.mean of 0     10
2      5
7     20
9      5
14    20
15    20
17    10
21     2
Name: gain, dtype: int64>

In [11]:
data_df[data_df['niveau'] == 2]['gain'].max()

20

In [12]:
perdu = data_df['perdu'].astype('int64')

In [13]:
perdu.describe()

count    24.000000
mean      0.250000
std       0.442326
min       0.000000
25%       0.000000
50%       0.000000
75%       0.250000
max       1.000000
Name: perdu, dtype: float64

In [14]:
perdu.value_counts()

0    18
1     6
Name: perdu, dtype: int64

In [15]:
perdu.value_counts(normalize=True)

0    0.75
1    0.25
Name: perdu, dtype: float64